
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}
:root{
	--bg-color: #FFFBE0;
	--text-color: #000;
	--main-color: #FF5757;
    --second-color: #F99F1C;
    --third-color: #F47BB0;
    --fourth-color: #38B6FF;
    --fifth-color: #725FCF;
	--big-font: 5rem;
	--h2-font: 3rem;
    --h3-font: 2rem;
	--p-font: 1.1rem;
}
/* text stroke */
.text-stroke {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
span{
	color: var(--main-color);
}
/* navigation bar */
.navbar {
    width: 100%;
    padding-top:30px;
    background: white;
    padding: 10px 0;
    /* box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1); */
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
}
.navbar .logo img{
    height: 90px;
}
.navbar .menu{
    display: inline-flex;
}
.menu li {
    list-style: none;
    font-weight: 200px;
}
.menu li a {
    color: black;
    margin-left: 50px;
    text-decoration: none;
}
.language-btn img{
    padding-right: 100px;
}
.background {
    background: var(--bg-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100vh;
    padding-top:15vh;
}
.home-main {
    text-align: center;
}
.home-main h1 {
    color:var(--main-color);
    font-size: var(--big-font);
    font-weight: bold;
}
.home-main .hub-btn {
    color: #FFFBE0;
    font-size: var(--big-font);
    font-weight:bold;
    background-color: #38B6FF;
    border-radius: 50px;
    border: 1.5px solid black;
    margin-top: 30px;
    padding: 10px 50px 10px 50px;
    transform: rotate(5deg)
}
.home-main .social-media {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-top: 30px;
}
.home-main .social-media a {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background:  #444346;
	margin: 0px 10px 45px;
    padding: 12px;
	color: #FFFBE0;
	text-decoration: none;
}
.home-main img{
    position: absolute;
    padding-left: 20px;
    padding-top: 30px;
}
.sticker {
    height: 180px;
}
.sticker-container-1 {
    display: flex;
    flex-direction: column;
    transform: rotate(-15deg);
}
.sticker-container-2 {
    display: flex;
    flex-direction: column;
    transform: rotate(15deg);
}

.services {
    height: 70vh;
    background: #FFFBE0;
}
.services h1{
	font-size: var(--h2-font);
	line-height: 1;
	font-size: 300;
    text-align: center;
}
.services-container {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	align-items: center;
	grid-gap: 2rem;
    padding: 70px;
}
.box-style {
    border-radius: 10%;
    padding: 45px 45px 45px 45px;
    cursor: pointer;
    text-align: center;
}
.box-style h3 {
    margin-bottom: 20px;
	font-size: var(--h3-font);
	font-weight: 500;
}
.box-style p {
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 29px;
    margin-bottom: 20px;
}
.box-style img {
	max-width: 100%;
	width: 60px;
	height: auto;
	margin-bottom: 20px;
}
.box-style button {
    background: #FCD24F;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 50px 10px 50px;
    font-size: var(--p-font);
}
.box1 {
    background: var(--second-color);
    color: black;
}
.box2 {
    background: var(--third-color);
    color: white;
}
.box3 {
    background: var(--fourth-color);
    color: white;
}
.box4 {
    background: var(--fifth-color);
    color: white;
}
